*{
    margin: 0;
    padding: 0;
    background-color:#87a7a5 ;
}

.form {
    width: 400px;
    background-color: white;
    padding: 40px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    box-shadow: 0 0 30px 0 gray;
}

p{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

.controls{
    background-color:#FBFCFC;
    width: 100%;
    padding: 5px;
    border: 1px solid #FBFCFC;
    margin-bottom: 30px;
    margin-top: 10px;

}
::placeholder{
    color: #B3B6B7 ;
}

.button{

/*Codigo para estilo de boton original al ejemplo*/

   /*width: 100%;
   padding: 5px;
   background-color: #2032C9;
   color: white;
   border-style: none;*/
/*---------------------------------------------------------*/
   background-color: transparent;
   border: 2px solid #000;
   width: 100%;
   color: #000;
   padding: 10px 20px;
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase;
   transition: all 0.3s ease;
}

.button:hover{
    background-color: #a16fb4;
    color: #fff;
    cursor: pointer;
}

